{% extends "layout.html" %}

{% block body %}

{% if session.logged_in %}

<form id="create" action="{{ url_for('add_reference') }}" method=post class="add-reference" accept-charset="utf-8" enctype="multipart/form-data">
    <fieldset>
        <legend>Create a new reference</legend>
        <ul>
            <li> <label for="title">Title:</label>
            <input type="text" name="title" size=50 />
            </li>

            <li> <label for="timespan">Timespan:</label>
            <input type="text" name="timespan" size=30 />
            </li>
            
            <li> <label for="text">Text:</label>
            <textarea name="text" rows=5 cols=50 ></textarea>
            </li>    

            <li><label for="submit"> </label>
            <input type="submit" value="Submit"><input type="Reset" /> 
            </li>
        </ul>
    </fieldset>
</form>

{% endif %}

{% endblock %}
