{% extends "layout.html" %}

{% block title %}References{% endblock %}

{% block body %}

<div class="overview">

<h1 class="section-header"> My projects and references </h1>

{% for reference in references %}

<article class="reference">   
    <div class="reference-info"> {{ reference.timespan|safe }} </div>     
    <h2>{{ reference.title|safe }}</h2>
    <div class="text"> {{ reference.text_html|safe }} </div>
</article>    

{% else %}
No references so far.
{% endfor %}

</div>

{% endblock %}
