{% extends "layout.html" %}

{% block title %}{{blogpost.title|safe}}{% endblock %}

{% block body %}

<!-- <div class='back-to-blog'> <a href="{{ url_for('show_blog') }}"> Back to Blog </a> </div> -->

<div class="detailed">

<article class="blogpost" >
    <h1> {{ blogpost.title|safe }} </h1>
    <div class="date"> {{ blogpost.posted.strftime('%B %d, %Y')|safe }} </div>        
    <div class="text"> {{ blogpost.text_html|safe }} </div>
    <div class="tags"> Tags: 
    {% for tag in blogpost.tags %}
        <a href="{{ url_for('show_tag', tag_name=tag.name) }}">{{ tag.name|safe }}</a>
    {% endfor %}
    </div> 
</article>    

</div>

{% endblock %}
