{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}

<div class="overview">

<h1 class="section-header">About</h1>

<article>
<h2> ... me </h2>

<p>
My name is Elias Zeitfogel and I am, among many other things, interested in computer graphics / vision, social network analysis, machine learning, data science, web development and learning new skills. In my free time I like to do obstacle races and go mountain biking.
</p>
<p>
I graduated from the <a href="http://tugraz.at">University of Technology Graz</a> where I studied <em>Computer Science</em> and <em>Software Development and Business Management</em>. 
Some of my work there has been published in the paper <a href="http://arxiv.org/abs/1402.1386">Evolution of Reddit: From the Front Page of the Internet to a Self-referential Community?</a> at the <a href="http://www2014.kr/"> World Wide Web Conference 2014</a> in Seoul, Korea.
</p>
<p>
I also do a lot of freelancing, some projects I worked on can be viewed <a href="{{ url_for('show_references') }}">here</a>.
</p>
<h2> ... this website </h2>
<p>
After finishing my studies I finally found time to dive into <a href="http://flask.pocoo.org/">Flask</a>, a Python microframework, and this website is the result of that endeavour. I use it to write about my experience while working on new projects and for some other stuff I deem interesting enough to share. Additionally some of my recent projects and accomplishments are presented in the <em><a href="{{ url_for('show_references') }}">Reference</a></em> aswell, hence the clever name "Webvita". This website will continue to grow whenever I find the time to add new features or tweak existing ones.
</p>
<p>
The website was created with <a href="http://flask.pocoo.org/">Flask</a> (including various extensions) and some <a href="http://getbootstrap.com/">Bootstrap</a> and is currently hosted on a free tier of <a href="https://www.openshift.com/">OpenShift</a>. You are free to fork it on <a href="https://github.com/niijv/webvita">GitHub</a> or use the <a href="https://github.com/niijv/webvita-heroku">version</a> I prepared for <a href="https://heroku.com">Heroku</a>.
</p>

<h2> Contact me </h2>
<p>
If you want to contact me or give me feedback, just send me an <a href="mailto:elias.zeitfogel@gmail.com">email</a> or message me on <a href="https://github.com/niijv">GitHub</a> or <a href="https://www.linkedin.com/pub/elias-zeitfogel/95/aa7/b94">LinkedIn</a>.
</p>
</article>

</div>

{% endblock %}
