{% extends "layout.html" %}

{% block body %}

{% if session.logged_in %}

<h2> Dashboard </h2>
<div id="dashboard">
   <div id="blog">
        <h3> Blog </h3>
        <div><a href="{{ url_for('create_blogpost') }}">Create</a></div>
        <div><a href="{{ url_for('edit_blogpost_list') }}">Edit</a></div>
    </div>
    <div id="references">
        <h3> References </h3>
        <div><a href="{{ url_for('create_reference') }}">Create</a></div>
        <div><a href="{{ url_for('edit_reference_list') }}">Edit</a></div>
    </div>
</div>

{% endif %}

{% endblock %}
