{% extends "layout.html" %}

{% block title %}{{tag_name|safe}}{% endblock %}

{% block body %}

<div class="overview">

<h2> Posts about {{ tag_name|safe }} </h2>

{% for blogpost in blogposts %}

<article class="blogpost">   
    <div class="date"> 
            {{ blogpost.posted.strftime('%b %d, %Y')|safe }} 
    </div>      
    <h1><a href="{{ url_for('show_blogpost', blogpost_title=blogpost.title) }}">{{ blogpost.title|safe }}</a></h1>
    <div class="subtitle"> 
        <p>        
            {{ blogpost.subtitle|safe }} 
        </p>    
    </div>            
    <div class="tags">
    {% for tag in blogpost.tags %}
        <a href="{{ url_for('show_tag', tag_name=tag.name) }}">{{ tag.name }}</a>
    {% endfor %}
    </div>       
</article>  

{% else %}
No blogposts so far.
{% endfor %}

</div>

{% endblock %}
