{% extends "layout.html" %}

{% block body %}

<h2> Blogposts concerning {{ tag_name|safe }} </h2>

<ul class='blogposts' >
{% for blogpost in blogposts %}

    <li>
        <article class='blogpost'>        
            <h3><a href="{{ url_for('show_blogpost', blogpost_title=blogpost.title) }}">{{ blogpost.title|safe }}</a></h3>
            <span class='post-info'>
                by <span class='author'> {{ blogpost.user.realname|safe }} </span> - <span class='date'> {{ blogpost.posted.strftime('%Y-%m-%d')|safe }} </span>
            </span> 
            <div class='tags'>
            {% for tag in blogpost.tags %}
                <a href="{{ url_for('show_tag', tag_name=tag.name) }}">{{ tag.name|safe }}</a>
            {% endfor %}
            </div>       
        </article>    
    </li>

{% else %}
<li> No posts so far.</li>
{% endfor %}
</ul>

{% endblock %}
